@import url("//fonts.googleapis.com/css?family=Lato:300,400,400italic,700,700italic,900");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

* {
  box-sizing: border-box; }

*:before,
*:after {
  box-sizing: inherit; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ol,
ul {
  list-style: none; }

img,
video {
  max-width: 100%; }

img {
  border-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none; }

[hidden] {
  display: none !important; }

[disabled] {
  cursor: not-allowed; }

:focus:not(:focus-visible) {
  outline: none; }

html, body {
  width: 100%;
  height: 100%; }

body {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 40px;
  color: #2d2d2d;
  font-family: "Lato", sans-serif;
  font-size: 100%; }

a {
  text-decoration: none; }

#content_main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  height: 100%;
  background-color: rgba(243, 243, 243, 0.35);
  overflow: hidden; }
  #content_main > .content-title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    width: 100%;
    height: 58px; }

.content-title em {
  margin-left: 8px;
  color: #d32900;
  font-style: normal; }

.title-vs {
  font-size: .85rem;
  font-weight: 300;
  text-transform: uppercase; }

.title-vl {
  font-size: 1.8rem;
  font-weight: 400; }

.tabs-container .tab-labels-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.tabs-container .tab-label:hover, .tabs-container .tab-label:focus {
  cursor: pointer; }

.tabs-container .tab-label svg {
  pointer-events: none; }

.nav-menu .items-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }

.nav-menu .item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 15px; }
  .nav-menu .item:nth-child(2) a:hover em, .nav-menu .item:nth-child(2) a:focus em {
    color: #2d2d2d; }
  .nav-menu .item:last-child {
    margin-right: 0; }
    .nav-menu .item:last-child a {
      display: block;
      width: 20px;
      height: 20px;
      overflow: hidden;
      color: #d32900; }
      .nav-menu .item:last-child a svg {
        display: block;
        width: 20px;
        height: 20px;
        margin: 0; }
      .nav-menu .item:last-child a svg {
        fill: #d32900; }
      .nav-menu .item:last-child a:hover, .nav-menu .item:last-child a:focus {
        color: #2d2d2d; }
        .nav-menu .item:last-child a:hover svg, .nav-menu .item:last-child a:focus svg {
          fill: #2d2d2d; }
      .nav-menu .item:last-child a:hover, .nav-menu .item:last-child a:focus {
        transform: rotate(90deg); }
  .nav-menu .item a {
    color: #2d2d2d;
    font-size: .75rem;
    transition: all .3s ease-in-out; }
    .nav-menu .item a em {
      color: #d32900;
      font-style: normal; }
    .nav-menu .item a:hover, .nav-menu .item a:focus {
      color: #d32900; }

.nav-footer > .content-title {
  padding: 10px 0;
  color: rgba(45, 45, 45, 0.4);
  text-align: center; }

.nav-footer .items-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-top: 2px solid rgba(243, 243, 243, 0.35);
  border-bottom: 2px solid rgba(243, 243, 243, 0.35); }
  .nav-footer .items-list > .item {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
    overflow: hidden;
    position: relative; }
    .nav-footer .items-list > .item.item-active:before {
      top: 0;
      opacity: 1;
      background-color: #2d2d2d; }
    .nav-footer .items-list > .item.item-active .item-name {
      color: white; }
      .nav-footer .items-list > .item.item-active .item-name .second-line {
        color: rgba(255, 255, 255, 0.45); }
    .nav-footer .items-list > .item:before {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      top: 100%;
      background-color: #d32900;
      opacity: 0;
      transition: all .3s ease-in-out; }
    .nav-footer .items-list > .item:hover:before, .nav-footer .items-list > .item:focus:before {
      top: 0;
      opacity: 1; }
    .nav-footer .items-list > .item:hover .item-name, .nav-footer .items-list > .item:focus .item-name {
      color: white; }
      .nav-footer .items-list > .item:hover .item-name .second-line, .nav-footer .items-list > .item:focus .item-name .second-line {
        color: rgba(255, 255, 255, 0.45); }
    .nav-footer .items-list > .item:hover .sub-list, .nav-footer .items-list > .item:focus .sub-list {
      top: 0;
      opacity: 1; }
  .nav-footer .items-list .item-name {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100px;
    color: #2d2d2d;
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color .3s ease-in-out; }
    .nav-footer .items-list .item-name .first-line {
      font-size: 1.6em;
      font-weight: 700; }
    .nav-footer .items-list .item-name .second-line {
      color: #9a9a9a;
      font-size: .85em; }

.nav-footer .sub-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  position: absolute;
  z-index: 3;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(211, 41, 0, 0.9);
  transition: all .3s ease-in-out; }
  .nav-footer .sub-list .item:last-child .item-inner:after {
    content: none; }
  .nav-footer .sub-list .item-inner {
    display: block;
    color: white;
    transition: color .3s ease-in-out; }
    .nav-footer .sub-list .item-inner:after {
      content: "/";
      margin: 0 8px; }
    .nav-footer .sub-list .item-inner:hover, .nav-footer .sub-list .item-inner:focus {
      color: black; }
      .nav-footer .sub-list .item-inner:hover:after, .nav-footer .sub-list .item-inner:focus:after {
        color: white; }

#header_main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  height: 40px; }

.header-logo a {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  display: block;
  overflow: hidden;
  height: 19px;
  width: 168px;
  max-width: 100%;
  white-space: nowrap;
  text-indent: 200%;
  color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("../images/animatione_logo.png"); }

#footer_main {
  height: 130px; }

.property-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  z-index: 99;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100%;
  background-color: #2d2d2d;
  opacity: 0;
  transition: left .7s ease-in-out; }
  .property-container.item-active {
    left: 0;
    opacity: 1; }
  .property-container > .content-title {
    color: rgba(214, 212, 212, 0.5); }
  .property-container .tab-labels-list {
    background-color: #2d2d2d;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5); }
  .property-container .tab-label {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 50%;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
    width: 100%; }
    .property-container .tab-label a {
      display: block;
      padding: 10px;
      width: 100%;
      color: white;
      font-size: .7rem;
      transition: background-color .3s ease-in-out; }
      .property-container .tab-label a:hover, .property-container .tab-label a:focus {
        background-color: #d32900;
        color: white; }
    .property-container .tab-label.ui-tabs-active a {
      color: white;
      background-color: #d32900; }
  .property-container .tabs-group {
    padding: 0 30px;
    height: 100%;
    overflow-y: auto; }
    .property-container .tabs-group .panel-item {
      padding: 30px 0; }
  .property-container .items-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .property-container .items-list > .item {
      position: relative;
      margin-bottom: 5px;
      width: 100%;
      height: 55px; }
      .property-container .items-list > .item .item-name {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        position: relative;
        z-index: 3;
        width: 100%;
        height: 55px;
        color: #d6d4d4;
        background-color: black;
        cursor: pointer;
        transition: all .3s ease-in-out; }
      .property-container .items-list > .item.item-only:hover .item-name, .property-container .items-list > .item.item-only:focus .item-name {
        height: 55px; }
      .property-container .items-list > .item:hover .item-name, .property-container .items-list > .item:focus .item-name {
        height: 40px;
        color: black;
        background-color: white; }
      .property-container .items-list > .item:hover .sub-list, .property-container .items-list > .item:focus .sub-list {
        bottom: 0; }
    .property-container .items-list .item-active .item-name {
      color: black !important;
      background-color: white !important; }
  .property-container .sub-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    transition: all .3s ease-in-out; }
    .property-container .sub-list .item {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      border-right: 1px solid #d6d4d4; }
      .property-container .sub-list .item a {
        display: block;
        color: #2d2d2d;
        background-color: white;
        font-size: .75rem;
        text-align: center;
        transition: all .3s ease-in-out; }
        .property-container .sub-list .item a:hover, .property-container .sub-list .item a:focus {
          background-color: black;
          color: white; }
      .property-container .sub-list .item:last-child {
        border-right: 0; }

.workspace {
  position: relative;
  margin: 0 auto;
  width: 800px;
  height: calc(100% - 98px);
  background-color: white;
  box-shadow: 0 0 30px rgba(45, 45, 45, 0.1);
  overflow: hidden; }
  .workspace-inner {
    height: 100%; }

#canvas {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white; }
  #canvas:before, #canvas:after {
    content: "";
    position: absolute;
    z-index: 2; }
  #canvas:before {
    top: 0;
    left: 50%;
    height: 100%;
    border-left: 1px dashed #dadada; }
  #canvas:after {
    top: 50%;
    left: 0;
    width: 100%;
    border-top: 1px dashed #dadada; }

#id_serie,
.show-code {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  padding: 9px;
  font-size: .85rem; }

#id_serie {
  color: white;
  background-color: #d32900; }

.show-code {
  top: -36px;
  color: white;
  background-color: #2d2d2d;
  cursor: pointer;
  transition: all .3s ease-in-out; }
  .show-code:hover, .show-code:focus {
    background-color: #d32900;
    color: white; }

.preview-list,
.code-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%; }
  .preview-list .code-list-tab,
  .code-list .code-list-tab {
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    transition: all .5s ease-in-out; }
  .preview-list .tab-labels-list,
  .code-list .tab-labels-list {
    height: 20px;
    background-color: #2d2d2d;
    transition: all .3s ease-in-out; }
  .preview-list .tab-label,
  .code-list .tab-label {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1; }
    .preview-list .tab-label a,
    .code-list .tab-label a {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      height: 20px;
      color: white;
      text-align: center;
      text-transform: uppercase;
      transition: background-color .3s ease-in-out; }
      .preview-list .tab-label a:hover, .preview-list .tab-label a:focus,
      .code-list .tab-label a:hover,
      .code-list .tab-label a:focus {
        background-color: #d32900;
        color: white; }
    .preview-list .tab-label.ui-tabs-active a,
    .code-list .tab-label.ui-tabs-active a {
      color: #9a9a9a;
      background-color: black; }
  .preview-list .tabs-group,
  .code-list .tabs-group {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 100%;
    background-image: url(../images/code.png); }

.preview-container {
  display: none;
  position: relative;
  height: 100%; }
  .preview-container.item-active {
    display: block; }
    .preview-container.item-active .preview-inner {
      margin-left: 0;
      opacity: 1; }
  .preview-container .preview-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -65%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: all .5s ease-in-out; }
  .preview-container:hover .show-code, .preview-container:focus .show-code {
    top: 0; }
  .preview-container:hover .preview-list .tab-labels-list, .preview-container:focus .preview-list .tab-labels-list {
    bottom: 0; }

.preview-list .tabs-group {
  background-image: none !important; }

.preview-list .tab-labels-list {
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%; }

#preview1 {
  width: 100%;
  height: 100%; }
  #preview1 .read-more-links-group {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    width: 100%;
    height: 100%; }
  #preview1 .read-more-link {
    padding: 30px 60px;
    color: white;
    background-color: #d32900; }

.code-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
  .code-container.item-active {
    z-index: 9; }
  .code-container:hover .actions-list, .code-container:focus .actions-list {
    top: 0; }
  .code-container:hover .code-list-tab, .code-container:focus .code-list-tab {
    bottom: 0; }

.actions-list {
  position: absolute;
  top: -34px;
  left: 0;
  width: 100%;
  background-color: #2d2d2d;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  transition: top .5s ease-in-out; }
  .actions-list .items-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .actions-list .item {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1; }
    .actions-list .item-inner {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      height: 34px;
      color: #9a9a9a;
      text-transform: uppercase;
      text-align: center;
      transition: background-color .3s ease-in-out; }
      .actions-list .item-inner:hover, .actions-list .item-inner:focus {
        background-color: #d32900;
        color: white; }
    .actions-list .item-active {
      color: #d6d4d4; }
      .actions-list .item-active .item-inner:hover, .actions-list .item-active .item-inner:focus {
        color: #d6d4d4; }
    .actions-list .item-preview a {
      color: white;
      background-color: #d32900;
      transition: background-color .3s ease-in-out;
      cursor: pointer; }
      .actions-list .item-preview a:hover, .actions-list .item-preview a:focus {
        background-color: black;
        color: white; }

.fx-fade {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  transition-duration: 0.3s;
  transition-property: color, background-color; }
  .fx-fade:hover, .fx-fade:focus {
    background-color: #2d2d2d;
    color: white; }

.loading-page {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white; }
