// Red Scale
$color-red-100:     rgb(211, 41, 0); 

// Light Scale
$color-dark-100:    rgb(0, 0, 0);
$color-dark-200:    rgb(45, 45, 45);
$color-dark-300:    rgb(154, 154, 154);

// Dark Scale
$color-light-100:   rgb(255, 255, 255);
$color-light-200:   rgb(243, 243, 243);
$color-light-300:   rgb(214, 212, 212);

// Blue Scale
$color-blue-100:    rgb(0, 17, 255);